* {
    box-sizing: border-box;
    font-weight: 800;
}
header {
    margin-top: -10px;
    flex-direction: row;
}
.btn-signup {
    background-color: #e1164b;
    color: white;
    border-radius: 3px;
    border: 0px;
    height: fit-content;
    padding: 5px 12px;
    box-shadow: 0 4px 4px hsla(344, 82%, 48%, 0.575);
}

.flex-container {
    display: flex;
}
.jc-spacebetween {
    justify-content: space-between;
}
.jc-spacearound {
    justify-content: space-around;
}
.ai-center {
    align-items: center;
}

.header-anchor {
    margin: 1px 10px;
}

@media (max-width: 724px) {
    header {
        font-size: small;
    }
}
@media (max-width: 621px) {
    header {
        font-size: x-small;
    }
}
@media (max-width: 518px) {
    header {
        font-size: xx-small;
    }
}
@media (max-width: 327px) {
    header {
        flex-direction: column;
    }
}
@media (max-width: 166px) {
    .flex-container {
        align-items: flex-start;
    }
    div.flex-container {
        flex-direction: column;
    }
}
